:root{
    --backgroundColor: #15a6e9;
    --backgroundColorLeft: #43c6ac;
    --backgroundColorRight: #191654;
    --hoverColor: #54d0d4; 
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #ddd3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ddd5;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(to right, var(--backgroundColorLeft) , var(--backgroundColorRight) );
    color: #fff;
    border: 2px dashed #fff;
}

/* Main Container */
.container{
    width: 366px;
    height: 650px;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    background-color: #ffffff3d;
    box-shadow: 0px 4px 15px #00000069;
    border: 2px solid #fff;
    
}

/* Cover Album */
.cover-image{
    width: 100%;
    height: 55%; /*366px*/
    position: absolute;
    top: 0;
    left: 0;
    background: url("../data/img/cover1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    transform-origin: 0% 0%;
    transition: all 0.3s ease-in;
}

/*TOP MENU items*/
.top-menu{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    font-size: 1rem;
    z-index: 10;
}

i{
    cursor: pointer;
    transition: all 0.3s;
}
i:hover{
    color: var(--hoverColor);
}
i.active{
    color: var(--backgroundColor);
}

/* Player Body */
.player-body{
    width: 100%;
    height: 45%; /*286px*/
    position: absolute;
    top: 55%; /*366px*/
    left: 0;
    transition: all 0.3s;
    background-color: #000;
}

/*List Wrapper*/
.list-wrapper{
    width: 100%;
    height: 65%; /*425px*/
    overflow: auto;
    position: absolute;
    top: 55%; /*378px*/
    transform-origin: 0% 0%;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.1);
    transition: all 0.3s;
}

.list {
    width: 99%;
    margin: 0 auto;
    border-spacing: 0px .8rem;
}

.list tr {
    height: 40px;
    text-align: center;
    background-color: #bbb3;
    text-indent: .4rem;
    transform-origin: 0% 50%;
    transition: all 0.2s;
}

.list tr:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.list .title {
    width: 60%;
    text-align: left;
    text-indent: 1rem;
    transition: all 0.3s;
}

.list tr:hover .title {
    padding-left: 5px;
    width: 30%;
}

.current-song-title {
    position: absolute;
    /*OUT of DIV
    right: 0;
    bottom: -40%;
    padding: 10px*/
    right: 23px;
    bottom: -60px;
    font-size: 14px;
    transition: all 0.3s;
}


/* Active Class */
.container.active .cover-image {
    transform: scale(0.250);
    left: 23px;
    top: 60px;
    border-radius: 1.2rem;
    background-color: #ffffffb9;
}

.container.active .top-menu {
    color: #000;
}

.container.active .player-body {
    height: 72%; /*470px*/
    left: 0;
    top: 28%;   /*128px*/
}

.container.active .list-wrapper {
    top: 28%; /*128px*/
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.container.active .info {
    top: 10%;
    left: 35%;
    text-align: left;
    transform: translateX(0);
    color: #111;
}

.container.active .current-song-title {
    bottom: 3%;
}

.container.active .controls {
    position: absolute;
    width: 40%;
    bottom: 0%;
    left: -5%;
    transform: scale(0.5);
}

.container.active .more-controls {
    bottom: -50px;
    padding: 0 70px;
}

/* Song Info */
.info {
    position: absolute;
    top: 65%; /*440px*/
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: all 0.3s;
}

.info h2 {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}

.info h3 {
    font-size: .9rem;
    color: #ccc;
}

/* Controls */
.controls {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 17%; /*100px*/
    z-index: 10;
    transition: all 0.3s;
}

.controls #playpause {
    font-size: 2.6rem;
}

/*More Controls*/
.more-controls {
    color: #fff;
    font-size: 1rem;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 20;
    transition: all 0.3s;
}
