:root{
    --backgroundColor: #15a6e9;
    --backgroundColorLeft: #43c6ac;
    --backgroundColorRight: #191654;
    --hoverColor: #0059ff; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(to right, var(--backgroundColorLeft) , var(--backgroundColorRight) );
    color: #fff;
    border: 2px dashed #fff;
}

/* Main Container */
.container{
    height: 650px;
    width: 366px;
    overflow: hidden;
    border-radius: 24px;
    background-color: #ffffff3d;
    box-shadow: 0px 4px 15px #00000069;
    border: 2px solid #fff;
    
}

/* Cover Album */
.cover-image{
    width: 100%;
    height: 55%;
    /* position: absolute; */
    top: 0;
    left: 0;
    background: url("../data/img/cover1.jpg");
    background-size: cover;
    background-position: center;
    transform-origin: 0% 0%;
}

/*TOP MENU items*/
.top-menu{
    width: 100%;
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    font-size: 1rem;
}

i{
    cursor: pointer;
    transition: all 0.3s;
}
i:hover{
    color: var(--hoverColor);
}
i.active{
    color: var(--backgroundColor);
}

/* Player Body */
.player-body{
    height: 45%;
    width: 100%;

    border: 2px solid red;
}

/*List Wrapper*/
.list-wrapper{
    height: 425px;
    width: 100%;
    overflow: auto;
    transform-origin: 0% 0%;
    transition: all 0.3s;
}

.list {
    width: 100%;
    border-spacing: 0px 2px;
}

.list tr {
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    text-indent: 6px;
    /* transform-origin: 0% 50%; */
    transition: ease-out 0.2s;
}

.list tr:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.list .title {
    width: 60%;
    text-align: left;
    text-indent: 15px;
    transition: ease-out 0.3s;
}

.list tr:hover .title {
    padding-left: 5px;
    width: 58%;
}