:root{
    --backgroundColor: #15a6e9;
    --backgroundColorLeft: #43c6ac;
    --backgroundColorRight: #191654;
    --hoverColor: #54d0d4; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(to right, var(--backgroundColorLeft) , var(--backgroundColorRight) );
    color: #fff;
    border: 2px dashed #fff;
}

/* Main Container */
.container{
    height: 650px;
    width: 366px;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    background-color: #ffffff3d;
    box-shadow: 0px 4px 15px #00000069;
    border: 2px solid #fff;
    
}

/* Cover Album */
.cover-image{
    width: 100%;
    height: 55%;
    position: relative;
    border: 3px solid blueviolet;
    /* top: 0;
    left: 0; */
    /* transform-origin: 0% 0%; */
    transition: all 0.3s;
}

.image {
    width: 100%;
    height: 100%;
    background: url("../data/img/cover1.jpg");
    background-size: cover;
    background-position: center;
    transition: all 0.3s;
}

/*TOP MENU items*/
.top-menu{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    font-size: 1rem;
}

i{
    cursor: pointer;
    transition: all 0.3s;
}
i:hover{
    color: var(--hoverColor);
}
i.active{
    color: var(--backgroundColor);
}

/* Player Body */
.player-body{
    height: 45%;
    width: 100%;
    position: relative;
    border: 2px solid red;
}

/*List Wrapper*/
.list-wrapper{
    border: 4px solid burlywood;
    height: 100%;
    width: 100%;
    height: auto;
    overflow: auto;
    transform-origin: 0% 0%;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.1);
    transition: all 0.3s;
}

.list {
    width: 100%;
    border-spacing: 0px 2px;
}

.list tr {
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    text-indent: 6px;
    /* transform-origin: 0% 50%; */
    transition: all 0.2s;
}

.list tr:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.list .title {
    width: 60%;
    text-align: left;
    text-indent: 15px;
    transition: all 0.3s;
}

.list tr:hover .title {
    padding-left: 5px;
    width: 58%;
}

.current-song-title {
    position: absolute;
    right: 0;
    bottom: -40%;
    font-size: 14px;
    padding: 10px;
    transition: all 0.3s;
}


/* Active Class */
.container.active .cover-image {
    height: 30%;
    background-color: #ffffffb9;
}

.container.active .image {
    position: absolute;
    /* transform-origin: 20% 30%; */
    width: 100px;
    height: 100px;
    left: 5%;
    top:30%;
    border-radius: 10px;
}


.container.active .top-menu {
    color: #000;
}

.container.active .player-body {
    height: 70%;
}

.container.active .list-wrapper {
    /* top: 30%; */
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.container.active .info {
    top: -30%;
    text-align: left;
    /* transform: translateX(0); */
    color: #111;
}

.container.active .current-song-title {
    bottom: 0%;
}

.container.active .controls {
    position: absolute;
    width: 40%;
    bottom: 0%;
    left: -5%;
    transform: scale(0.5);
}

.container.active .more-controls {
    bottom: 50px;
    padding: 0 70px;
}

/* Song Info */
.info {
    border: 2px solid blue;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: all 0.3s;
}

.info h2 {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
}

.info h3 {
    font-size: .9rem;
    color: #ccc;
}

/* Controls */
.controls {
    border: 3px solid greenyellow;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 100px;
    z-index: 10;
    transition: all 0.3s;
}

.controls #playpause {
    font-size: 2.6rem;
}

/*More Controls*/
.more-controls {
    color: #fff;
    font-size: 1rem;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 20;
    transition: all 0.3s;
}
